.wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  overflow: hidden;
}

.body {
  font: var(--font-body);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profilePic {
  border-radius: 16px;
}
